{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/style.css">
{% endblock %}

{% block title %}
  {% if title %}{{ title }} - {{ appname }}{% else %}{{ appname }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('help') }}">Help</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="title_bar" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 id="main_title">{{ appname }}</h1>
        <h3 id="student_id">1234567890</h2>
        <h4 id="student_name">Lastname, Firstname</h3>
      </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}