<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/" class="btn btn-primary">Back</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Dept</th>
                    <th>Mag</th>
                    <th>MagType</th>
                    <th>Nst</th>
                    <th>Gap</th>
                    <th>dMin</th>
                    <th>Rms</th>
                    <th>Net</th>
                    <th>ID</th>
                    <th>Updated</th>
                    <th>Place</th>
                    <th>Type</th>
                    <th>HorizontalError</th>
                    <th>DepthError</th>
                    <th>MagnitudeError</th>
                    <th>magNst</th>
                    <th>status</th>
                    <th>LocationSource</th>
                    <th>MagSource</th>
                </tr>

            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[10] }}</td>
                        <td>{{ row[11] }}</td>
                        <td>{{ row[12] }}</td>
                        <td>{{ row[13] }}</td>
                        <td>{{ row[14] }}</td>
                        <td>{{ row[15] }}</td>
                        <td>{{ row[16] }}</td>
                        <td>{{ row[17] }}</td>
                        <td>{{ row[18] }}</td>
                        <td>{{ row[19] }}</td>
                        <td>{{ row[20] }}</td>
                        <td>{{ row[21] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

    